MONGODB_URI="mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority"
MONGO_DB_NAME="Scrapping"
JWT_SECRET="replace-with-a-random-32-byte-secret"
GOOGLE_API_KEY=""
GOOGLE_CX=""
GROQ_API_KEY=""
GROQ_MODEL="llama3-8b-8192"
